{% extends 'catalog/categories/accessories.html' %}
{% block title %}Чехлы{% endblock %}
{% block manufacter_filter %}
<li><a href="/covers_filter_by_manufacter=Philips">Philips <span class="float-right badge badge-light round"></span>
    </a></li>
<li><a href="/covers_filter_by_manufacter=Apple">Apple <span class="float-right badge badge-light round"></span>
    </a></li>
<li><a href="/covers_filter_by_manufacter=Samsung">Samsung <span class="float-right badge badge-light round"></span>
    </a></li>
<li><a href="/covers_filter_by_manufacter=Xioami">Xioami <span class="float-right badge badge-light round"></span>
    </a></li>
{% endblock %}