{% extends 'catalog/categories/devices.html' %}
{% block title %}Телефоны{% endblock %}
{% block manufacter_filter %}
<li><a href="/phones_filter_by_manufacter=Lenovo">Lenovo <span
    class="float-right badge badge-light round"></span> </a></li>
<li><a href="/phones_filter_by_manufacter=Apple">Apple <span
    class="float-right badge badge-light round"></span> </a></li>
<li><a href="/phones_filter_by_manufacter=Samsung">Samsung <span
    class="float-right badge badge-light round"></span> </a></li>
<li><a href="/phones_filter_by_manufacter=Xioami">Xioami <span
    class="float-right badge badge-light round"></span> </a></li>
{% endblock %}